<?php

return $connections = [
	'default' => [
		'db' => 'mysql',
		'host' => 'localhost',
		'schema' => 'tcc',
		'user' => 'root',
		'pass' => 'root'
	],
	'RFID' => [
		'db' => 'mysql',
		'host' => 'localhost',
		'schema' => 'rfid',
		'user' => 'root',
		'pass' => 'root'
	],
	'GreeningU' => [
		'db' => 'mysql',
		'host' => 'localhost',
		'schema' => 'greeningu',
		'user' => 'root',
		'pass' => 'root'
	],
];